global:
  
route:
  group_by: ['instance', 'severity']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 1m
  routes:
  - match:
      alertname: InstanceDown
  receiver: 'alert-team'

receivers:
- name: 'alert-team'
  webhook_configs:
  - url:{% for host in groups['alertmanager'] %}'http://{{ host }}/alert/{{ telegramId }}'{% endfor %}
